
.hoverTable {
    border: 1px solid black;
}
.hoverTable td{
    border: 1px solid black;
}

.hoverTable td:hover{
    background-color: aqua;
}

.hoverTable tr:hover{
    background-color: yellowgreen;
}